spring:
  profiles:
    active: dev
  
---
server:
  port: 8201

#spring配置
spring:
  profiles: dev
  application:
    name: springcloud-provider-dept-dev
    
#Eureka配置
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/
      
---
server:
  port: 8202

#spring配置
spring:
  profiles: test
  application:
    name: springcloud-provider-dept-test
    
#Eureka配置
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/